.register {
  font-family: Nunito Sans;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .imageWrapper {
    height: 100vh;
    width: 300px;
    width: 1109px;


    position: relative;
    overflow: hidden;
    // padding-bottom: 101.142857%;
    // 98,8700565

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cardWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 811px;
    justify-content: center;
    align-items: center;
    // gap: 317px; 

    .card {
      width: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 36px;
  
    
  
      .header {
        // display: flex;
        // flex-direction: column;
        // justify-content: start;
        // align-items: start;
        width: 100%;
  
        .h1 {
          font-weight: 700;
          font-size: 36px;
          color: rgba(82, 82, 82, 1);
          margin-block-start: 0;
          margin-block-end: 0;
          margin-left: 26.5px;
          margin-right: 26.5px;
          margin-top: 36px;
        }
        .p {
          font-weight: 400;
          font-size: 16px;
          margin-block-start: 0;
          margin-block-end: 0;
          margin-left: 26.5px;
          margin-right: 26.5px;
        }
  
      }
  
      .registerForm {
        width: 100%;
  
        .customInput {}
        .customButton {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50px;
        }
  
        :global(.ant-form-item) {
          margin-bottom: 10px;
        }
      }
  
    }
  }


}