.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 250px;

  .input {
    height: 40px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 3px 3px 10px rgb(207 207 207);
    border-radius: 20px;
    font-size: 16px;
  
    &:focus-visible {
      outline: none;
    }
  }
  .errorInput {
    border: 1px solid red;
    box-shadow: 3px 3px 10px rgb(255, 177, 177);
  }

  .errorMessage {
    width: 100%;
    min-height: 10.5px;
    color: red;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 9px;
    margin-top: 4px;
    padding: 0 15px;
  }
}
