.userPage {
  margin: 25px 0;
  margin-left: var(--sidebar-width);
  width: 100% - var(--sidebar-width);

  .h1, .section {
    margin-left: 25px;

    .info {
      display: grid;
      grid-template-columns: 80px 80px;
      grid-template-rows: repeat(3, 30px);

      margin-bottom: 25px;

      .fieldName {
        font-weight: 600;
      }
    }
  }

  
}